@media screen and (min-width: 200px) and (max-width: 991px)  {


    .mini-menu {
        width: 100%;
        margin-bottom: auto;
        display: flex;
        font-size: 15px;
    }
    
    .mini-menu {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        font-size: 15px;
    }

    .mini-menu ul {
        width: 100%;
    }

    .mini-menu li {  
        margin: 0% 8%;
    }

    .mini-menu ul li::after{
        display: none;
    }

    .src-box {
        width: 100%;
        padding-right: 11.2%;
    }

    .src-box form {
        background-color: white;
        border-radius: 20px;
        width: 50%;
        float: right;
        padding: 1%;
        margin-right: 29%;
    }



    .main-header-container {
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }

    .logo_area {
        width: 100%;
        overflow: hidden;
        margin-top: 2%;
        margin-bottom: 2%;
    }


    .logo_area a{
        padding: 0px 5px;
    }

    .logo_area img {
        margin: 0% 34%;
    }

    .social_area ul {
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: flex-start;
    }

    .social_area ul li {
        list-style: none;
        margin-left: 30px;
    }

    

    .social_area {
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 6px;
    }


    .nav_container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: normal;
    }


    .nav_container ul li {
        margin: 0 3.3%;
        position: relative;
    }

    .nav_container ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 3px;
        font-size: 12px;
    }

    #work_area {
        padding: 0px 0px;
    }


    .work_container {
        margin: 0 auto;
        max-width: 360px;
        width: 100%;
        background-color: #f2f2f2;
        padding: 0;
        display: flex;
        flex-direction: column;
        cursor: no-drop;
    }

    .about_us h2{
        text-align: center;

    }

    .about_us img{
        padding-left: 30px;
    }

    .about_us p {
        padding: 5px;
    }

    .about_us a {
        margin: 1% 0%;
    }

    .slider_container {
        width: 100%;
    }

    .slider_containe img{
        width: 100%;
        height: auto;
    }














}